@using APIWife.Models

@model RootModel.Root


@if (@Model != null)
{
<h2>Today's Meal: @Model.Hits[0].Recipe.Label </h2>

@foreach(var item in Model.Hits[0].Recipe.IngredientLines)
                {
                    <h4>@item</h4>
                }
@*@foreach(var item in Model.Hits)
    {
       <h2>@item.Recipe.Ingredients</h2>
    }*@

}

else
            {
                <h2>Website down</h2>
            }


